{% extends "orders/layout.html" %}

{% block title %}
    Cart
{% endblock %}
{% block nav %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link" style="color:black;">
                Logout
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link" style="color:black;">
                Return to Menu
            </a>
        </li>
    </ul>
{% endblock %}
{% block body %}
    {% if cart_items %}
        <p class="ml-3">
            Confirm Items/Total and Place Order
        </p>
        <form action="{% url 'place_order' %}" method="post" class="form-row m-3 p-1">
            {% csrf_token %}
            <div class="col-auto">
                <button type="submit" value="Place Order" class="btn btn-success">
                    Place Order
                </button>
            </div>
        </form>
        {% for item in cart_items %}
            <p class="ml-3">
                {{ item }}
            </p>
            <form action="{% url 'delete_item' %}" method="post" class="form-row m-3 p-1">
                {% csrf_token %}
                <div class="col-auto">
                    <input name="key" value="{{ item.pk }}" required hidden>
                    <button type="submit" value="Delete Item" class="btn btn-danger">
                        Remove From Cart
                    </button>
                </div>
            </form>
        {% endfor %}
    {% else %}
            <p class="ml-3">
                No items in cart
            </p>
    {% endif %}
{% endblock %}